* {
  background-color: aquamarine;
}
.myform {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;

  margin: 5% 20% 5% 20%;
  border: 5px solid rgb(0, 229, 255);
  border-radius: 10px;
}
.myform .formdiv {
  margin: 30px;
}
.myform .formdiv label {
  margin-right: 30px;
  font-size: large;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.myform .formdiv input {
  margin-right: 30px;
  font-size: large;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.myform button {
  margin-right: 30px;
  padding: 5px 40px 5px 40px;
  font-size: large;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
